<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>跃农门农民工在线服务</title>
<!-- Stylesheets -->
<link href="/static/css/bootstrap.css" rel="stylesheet">

<link href="/static/css/style.css" rel="stylesheet">

<!-- FONT ICONS -->
<link rel="stylesheet" href="/static/assets/elegant-icons/style.css">
<link rel="stylesheet" href="/static/assets/et-line-font/style.css">
<!-- OWL CAROUSEL -->
 <link rel="stylesheet" href="/static/css/owl.theme.css">
 <link rel="stylesheet" href="/static/css/owl.carousel.css">

<!-- KENBURN SLIDE SHOW -->
<link rel="stylesheet" href="/static/css/vegas.min.css">
<!-- Responsive -->
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
<link href="/static/css/responsive.css" rel="stylesheet">
<!--[if lt IE 9]><script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
<!--[if lt IE 9]><script src="/static/js/respond.js"></script><![endif]-->
</head>

<body>
<div class="page-wrapper">
 	
    <!-- Preloader -->
    <div class="preloader"></div>
    
    <!-- Main Header -->
    <header class="main-header">
    	<div class="top-bar">
        	<div class="top-container">
            	<!--Info Outer-->
                 <div class="info-outer">
                 	<!--Info Box-->
                    <ul class="info-box clearfix">
                    	<li><i class="icon icon-envelope "></i><a href="#">联系邮箱：xxxxxx</a></li>
                    	<li><span class="icon flaticon-technology-5"></span><a href="#">联系电话：xxxxxx</a></li>
                        
                    </ul>

                 </div>
            </div>
        </div>
    	<!-- Header Upper -->
    	<div class="header-upper">
        	<div class="auto-container clearfix">
            	<!-- Logo -->
                <div class="logo">
                    <a href="index.html"><img src="/static/images/logo-1.png" alt="Ecology"></a>
                 </div>
                 
                 <!--Nav Outer-->
                <div class="nav-outer clearfix">
                    
                    <a href="{% url 'login' %}" class="theme-btn btn-donate" data-toggle="modal" data-target="#donate-popup">登录</a>
                    
                    <!-- Main Menu -->
                    <nav class="main-menu">
                        
                        <div class="navbar-header">
                            <!-- Toggle Button -->    	
                            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                        </div>
                        
                        <div class="navbar-collapse collapse clearfix">
                            <ul class="navigation">
                                <li><a href="{% url 'index' %}">首页</a></li>
                                <li><a href="{% url 'login' %}">登录地址</a></li>
                                <li><a href="{% url 'register' %}">注册地址</a></li>
                                <li><a href="{% url 'position_list' %}">岗位列表</a></li>
                                <li><a href="/xadmin">后台地址</a></li>
                            </ul>
                        </div>
                    </nav><!-- Main Menu End-->
                    
                </div>
                
            </div>
        </div><!-- Header Top End -->
        
    </header><!--End Main Header -->
    
    
    <!--Main Slider-->
    <!-- KENBURN BG -->
    <section  class="home-section kenbarn">
      <div class="image-wrap">
        <div class="kenburn-overlay">
          <div class="intro-section text-center">

            <h1 class="intro hs11-h1 text-white-5">Save the Green</h1>


          </div>
        </div>
      </div>
    </section>
    
     <!--Main Features-->
    <section class="main-features feature-bg-cl pad-bot-80" id="services">

        <div class="container">

             <div class="sec-title text-center">
                <h2>这是一个什么样的项目？</h2>
                <div class="text">这是我的业余项目，一个想对农民工服务的一个想法。 </div>
            </div>
            <!-- /END Feature SECTION HEADER -->

            <div class="jv-st-srv">
                <div class="row">
                    <!-- SINGLE SERVICE -->
                    <div class="col-md-4">
                        <div class="featured-item-2 text-center m-bot-40">
                            <div class="icon">
                                <i class="icon-hotairballoon"></i>
                            </div>
                            <div class="title text-uppercase">
                                <h4>广告词一二三四</h4>
                            </div>
                            <div class="jv-st-desc">
                                我们为什么要做这项目呢？我从哪里来，将要到哪里去？我要做什么？
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="featured-item-2 text-center m-bot-40">
                            <div class="icon">
                                <i class="icon-genius"></i>
                            </div>
                            <div class="title text-uppercase">
                                <h4>这个项目的意义何在？</h4>
                            </div>
                            <div class="jv-st-desc">
                                找工作的平台那么多，培训学校市场也不少，我为啥要做呢？对于自己和服务对象有哪些现实意义呢？
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="featured-item-2 text-center">
                            <div class="icon ">
                                <i class="icon-recycle"></i>
                            </div>
                            <div class="title text-uppercase">
                                <h4>现在处于一个什么状况？</h4>
                            </div>
                            <div class="jv-st-desc">
                                目前我才搭了一个网站，未来的路还很长，充满了诱惑和荆棘。中间还有个人的因素，成功从来不仅仅是只有一个想法，更多的还有顽强的意志和智慧。
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>
        <!-- /END CONTAINER -->

    </section>
    <!-- /END Feature SECTION -->

   
    
    
    <!--Featured Fluid Section-->
    <section class="featured-fluid-section">
    	
        
    	<div class="outer clearfix">
            
            <!--Image Column-->
            <div class="image-column" style="background-image:url(/static/images/resource/fluid-image-1.jpg);"></div>
            
            <!--Text Column-->
            <article class="column text-column dark-column" data-wow-delay="0ms" data-wow-duration="1500ms" >
                
                <div class="content-box pull-left">	
                    <h2>there is no other planet to live..</h2>
                	<div class="title-text">Help us by donation to grow more green.</div>
                    <div class="text">Lorem ipsum dolor sit amet, eu qui modo expetendis reformidans ex sit set appetere sententiae seo eum in simul homero. Duo consul lorem probatus no qu alterum sit at no simple dummy.</div>
                    <a href="#" class="theme-btn btn-style-one">donate Now</a>
                    <a href="#" class="theme-btn btn-style-two">View more</a>
                </div>
                
                <div class="clearfix"></div>
            </article>
            
        </div>
        
    </section>


    <!--Events Section-->
    <section class="events-section latest-events">
        <div class="auto-container">
            
            <div class="sec-title text-center">
                <h2>Recent campaigns</h2>
                <div class="text">Lorem ipsum dolor sit amet, cum at inani interes setnisl omnium dolor amet amet qco modo cum text </div>
            </div>
            <div class="row clearfix">
                
                <!--Featured Column-->
                <div class="column default-featured-column style-two col-lg-4 col-md-6 col-sm-6 col-xs-12">
                    <article class="inner-box">
                        <figure class="image-box">
                            <a href="#"><img src="/static/images/resource/featured-image-5.jpg" alt=""></a>
                            
                        </figure>
                        <div class="content-box">
                            <h3><a href="#">Safe environment</a></h3>
                            
                            <div class="column-info">Boston,Massachusetts. [$16,000 to go]</div>
                            <div class="text">Lorem ipsum dolor sit amet, eu qui modo expeten dis reformidans, ex sit appetere sententiae.. </div>
                            <a href="#" class="theme-btn btn-style-three">Read More</a>
                        </div>
                    </article>
                </div>
                
                <!--Featured Column-->
                <div class="column default-featured-column style-two col-lg-4 col-md-6 col-sm-6 col-xs-12">
                    <article class="inner-box">
                        <figure class="image-box">
                            <a href="#"><img src="/static/images/resource/featured-image-6.jpg" alt=""></a>
                        </figure>
                        <div class="content-box">
                            <h3><a href="#">solution for pollution</a></h3>
                            <div class="column-info">chicago, Illinois [$11,000 to go]</div>
                            <div class="text">Lorem ipsum dolor sit amet, eu qui modo expeten dis reformidans, ex sit appetere sententiae.. </div>
                            <a href="#" class="theme-btn btn-style-three">Read More</a>
                        </div>
                    </article>
                </div>
                
                <!--Featured Column-->
                <div class="column default-featured-column style-two col-lg-4 col-md-6 col-sm-6 col-xs-12">
                    <article class="inner-box">
                        <figure class="image-box">
                            <a href="#"><img src="/static/images/resource/featured-image-6a.jpg" alt=""></a>
                        </figure>
                        <div class="content-box">
                            <h3><a href="#">forest animal save</a></h3>
                            <div class="column-info">Michigan. [$9000 to go]</div>
                            <div class="text">Lorem ipsum dolor sit amet, eu qui modo expeten dis reformidans, ex sit appetere sententiae.. </div>
                            <a href="#" class="theme-btn btn-style-three">Read More</a>
                        </div>
                    </article>
                </div>
                
            </div>
        </div>
    </section>
       
    <!--Two Column Fluid -->
    <section class="two-column-fluid">
    	
        
    	<div class="outer clearfix">
        	
            
            <article class="column left-column">
                
                <div class="content-box pull-right">	
                    <h2>we are ecology & we care you</h2>
                    <div class="title-text">Lorem ipsum dolor some link sit amet, cum at inani interesset</div>
                    <br>
                    
                    <div class="clearfix">
                    	<div class="strategy-tab">
          <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active"><a href="#homeone" aria-controls="homeone" role="tab" data-toggle="tab">Mission</a></li>
            <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Vission</a></li>
            <li role="presentation"><a href="#messages" aria-controls="messages" role="tab" data-toggle="tab">Policy</a></li>
            
          </ul>

          <!-- Tab panes -->
          <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="homeone"><p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p> </div>
            <div role="tabpanel" class="tab-pane" id="profile">
              <p>muspI meroL fo snoisrev gnidulcni rekaMegaP sudlA ekil erawtfos gnihsilbup potksed htiw yltnecer erom dna ,segassap muspI meroL gniniatnoc steehs tesarteL fo esaeler eht htiw s0691 eht ni desiralupop saw tI yrtsudni gnittesepyt dna gnitnirp eht fo txet ymmud ylpmis si muspI meroL.desiralupop saw tI yrtsudni gnittesepyt dna gnitnirp eht fo txet ymmud ylpmis si muspI meroL..</p></div>
              <div role="tabpanel" class="tab-pane" id="messages">
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.Lorem Ipsum is simply dummy text of the printing and typesetting industry.Lorem Ipsum is simply dummy text of the printing and typesetting ting and typesetting industry.Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p></div>
                
                </div>
              </div>
                    </div>
                </div>
                
                <div class="clearfix"></div>
            </article>
            
            <article class="column right-column" >
                
                <div class="abt-img"><img src="/static/images/resource/fluid-image-05.jpg" alt=""></div>
                
                <div class="clearfix"></div>
            </article>
            
        </div>
        
    </section>
    
    
    
  <!-- =========================
          TESTIMONIALS
     ============================== -->

                   <section class="testimonial pg-bg-cl">
                               <div class=" pad-top-90 container">
                                <div class="row">
                                 <div class="col-md-12">

                                 <div class="sec-title text-center">
                                    <h2>some good words</h2>
                                    <div class="text">Lorem ipsum dolor sit amet, cum at inani interessetnisl omnium dolor amet amet qco modo cum text </div>
                                    </div>

                                        <div class="row">

                                              <div class="testimonials">
                             <div class="color-overlay">
                              <div class="container wow fadeIn animated" data-wow-offset="10" data-wow-duration="1.5s">
                               <!-- FEEDBACKS  STARTS-->
                               <div class="col-md-6  text-center center-col">
                                <div id="feedbacks-2" class="owl-carousel owl-theme ">
                                 <!-- SINGLE FEEDBACK -->
                                 <div class="feedback">
                                  <!-- IMAGE -->
                                  <div class="image">
                                   <img src="/static/images/clients-pic/c-3.jpg" alt="">
                                 </div>
                                 <div class="message">
                                   Now that we have a firm handle on just how important exercise is, it’s become all the rage. People are running to shed those pounds, stay in shape, and hopefully live a slightly longer, happier life.
                                 </div>
                                 <!-- INFORMATION -->
                                 <div class="name">
                                   Phillip Morris.
                                 </div>
                                 <div class="company-info">
                                   Creation Studio.
                                 </div>
                               </div>
                               <!-- /END SINGLE FEEDBACK -->
                               <!-- SINGLE FEEDBACK -->
                               <div class="feedback">
                                <!-- IMAGE -->
                                <div class="image">
                                 <img src="/static/images/clients-pic/c-1.jpg" alt="">
                               </div>
                               <div class="message">
                                 Now that we have a firm handle on just how important exercise is, it’s become all the rage. People are running to shed those pounds, stay in shape, and hopefully live a slightly longer, happier life.
                               </div>
                               <!-- INFORMATION -->
                               <div class="name">
                                 Phillip Morris.
                               </div>
                               <div class="company-info">
                                 Creation Studio.
                               </div>
                             </div>
                             <!-- /END SINGLE FEEDBACK -->
                             <!-- SINGLE FEEDBACK -->
                             <div class="feedback">
                              <!-- IMAGE -->
                              <div class="image">
                               <img src="/static/images/clients-pic/c-2.jpg" alt="">
                             </div>
                             <!-- MESSAGE -->
                             <div class="message">
                               Now that we have a firm handle on just how important exercise is, it’s become all the rage. People are running to shed those pounds, stay in shape, and hopefully live a slightly longer, happier life.
                               <!-- INFORMATION -->
                               <div class="name">
                                Phillip Morris.
                              </div>
                              <div class="company-info">
                                Creation Studio.
                              </div>
                            </div>
                            <!-- /END SINGLE FEEDBACK -->
                          </div>
                          <!-- /END FEEDBACKS -->
                        </div>
                      </div>
                      <!-- /END CONTAINER -->
                    </div>
                    <!-- /END COLOR OVERLAY -->
                    </div>
                    </div> <!-- /END ROW -->



                                        </div>   <!-- /END ROW -->

                                          </div>
                                         </div>
                                        </div>
    
    </section><div class="tlinks">Collect from <a href="http://www.cssmoban.com/" >网页模板</a></div>
             

    <!-- =========================
        Funfactors
     ============================== -->
                     
                  <div class="container pad-top-90">
                 <div class=" row">
                              
                            <!--Fact Counter-->
                            <div class="fact-counter">
                                
                                <div class="row clearfix">
                                    <!--Column-->
                                    <article class="col-md-3 col-sm-3 col-xs-12 column wow fadeIn" data-wow-duration="0ms">
                                        <div class="inner">
                                            <div class="icon"><i class="icon-global "></i></div>
                                            <h4 class="counter-title">Campaigns</h4>
                                            <div class="count-outer"><span class="count-text" data-speed="1000" data-stop="125">0</span></div>
                                         </div>
                                    </article>

                                    <!--Column-->
                                    <article class="col-md-3 col-sm-3 col-xs-12 column wow fadeIn" data-wow-duration="0ms">
                                        <div class="inner">
                                            <div class="icon"><i class="icon-presentation"></i></div>
                                            <h4 class="counter-title">complete projects</h4>
                                            <div class="count-outer"><span class="count-text" data-speed="1000" data-stop="75">0</span></div>
                                         </div>
                                    </article>
                                    
                                    <!--Column-->
                                    <article class="col-md-3 col-sm-3 col-xs-12 column wow fadeIn" data-wow-duration="0ms">
                                        <div class="inner">
                                            <div class="icon"><i class="icon-trophy "></i></div>
                                            <h4 class="counter-title">award win</h4>
                                            <div class="count-outer"><span class="count-text" data-speed="1500" data-stop="15">0</span></div>
                                        </div>
                                    </article>
                                    
                                    <!--Column-->
                                    <article class="col-md-3 col-sm-3 col-xs-12 column wow fadeIn" data-wow-duration="0ms">
                                        <div class="inner">
                                            <div class="icon"><i class="icon-profile-male"></i></div>
                                            <h4 class="counter-title">volunteers</h4>
                                            <div class="count-outer"><span class="count-text" data-speed="2500" data-stop="900">0</span></div>
                                        </div>
                                    </article>
                                    
                                </div>
                            </div>
                        
                          </div> 
                        </div>
    
   <!-- =========================
         BLOG
     ============================== -->
    <section class="blog-news-section latest-news">
    	<div class="auto-container">
        	
            <div class="sec-title text-center">
                <h2>Latest News</h2>
                <div class="text">Lorem ipsum dolor sit amet, cum at inani interessetnisl omnium dolor amet amet qco modo cum text </div>
            </div>
        	<div class="row clearfix">
                
                <!--News Column-->
                <div class="column blog-news-column col-lg-4 col-md-6 col-sm-6 col-xs-12">
                	<article class="inner-box wow fadeInUp" data-wow-delay="0ms" data-wow-duration="1500ms">
                		<figure class="image-box">
                        	<a href="#"><img src="/static/images/resource/blog-image-1.jpg" alt=""></a>
                            
                        </figure>
                        <div class="content-box">
                        	<h3><a href="#">sustainable energy</a></h3>
                        	<div class="post-info clearfix">
                            	<div class="post-author">Author: Rameen Rashid</div>
                                <div class="post-options clearfix">
                                	<a href="#" class="comments-count"><span class="icon flaticon-communication-2"></span> 11</a>
                                    <a href="#" class="fav-count"><span class="icon flaticon-favorite-1"></span> 19</a>
                                </div>
                            </div>
                            <div class="text">Lorem ipsum dolor sit amet, consectetur adipi elit sed do eiusmod tempor incididunt ut modo labore et dolore magna aliqua veniam.</div>
                            <a href="#" class="theme-btn read-more">Read More</a>
                        </div>
                    </article>
                </div>
                
                <!--News Column-->
                <div class="column blog-news-column col-lg-4 col-md-6 col-sm-6 col-xs-12">
                	<article class="inner-box wow fadeInUp" data-wow-delay="300ms" data-wow-duration="1500ms">
                		<figure class="image-box">
                        	<a href="#"><img src="/static/images/resource/blog-image-2.jpg" alt=""></a>
                            
                        </figure>
                        <div class="content-box">
                        	<h3><a href="#">solar power</a></h3>
                        	<div class="post-info clearfix">
                            	<div class="post-author">Author: phillip john</div>
                                <div class="post-options clearfix">
                                	<a href="#" class="comments-count"><span class="icon flaticon-communication-2"></span> 16</a>
                                    <a href="#" class="fav-count"><span class="icon flaticon-favorite-1"></span> 11</a>
                                </div>
                            </div>
                            <div class="text">Lorem ipsum dolor sit amet, consectetur adipi elit sed do eiusmod tempor incididunt ut modo labore et dolore magna aliqua veniam..</div>
                            <a href="#" class="theme-btn read-more">Read More</a>
                        </div>
                    </article>
                </div>
                
                <!--News Column-->
                <div class="column blog-news-column col-lg-4 col-md-6 col-sm-6 col-xs-12">
                	<article class="inner-box wow fadeInUp" data-wow-delay="600ms" data-wow-duration="1500ms">
                		<figure class="image-box">
                        	<a href="#"><img src="/static/images/resource/blog-image-3.jpg" alt=""></a>
                            
                        </figure>
                        <div class="content-box">
                        	<h3><a href="#">recycling products</a></h3>
                        	<div class="post-info clearfix">
                            	<div class="post-author">Author: Rameen rahid</div>
                                <div class="post-options clearfix">
                                	<a href="#" class="comments-count"><span class="icon flaticon-communication-2"></span> 7</a>
                                    <a href="#" class="fav-count"><span class="icon flaticon-favorite-1"></span> 11</a>
                                </div>
                            </div>
                            <div class="text">Lorem ipsum dolor sit amet, consectetur adipi elit sed do eiusmod tempor incididunt ut modo labore et dolore magna aliqua veniam...</div>
                            <a href="#" class="theme-btn read-more">Read More</a>
                        </div>
                    </article>
                </div>
                
                
            </div>
        </div>
    </section>
    
    
    <!--Sponsors Section-->
    <section class="sponsors-section">
        <div class="auto-container">
            <div class="slider-outer">
                <!--Sponsors Slider-->
                <ul class="sponsors-slider">
                    <li><a href="#"><img src="/static/images/clients/1.jpg" alt=""></a></li>
                    <li><a href="#"><img src="/static/images/clients/2.jpg" alt=""></a></li>
                    <li><a href="#"><img src="/static/images/clients/3.jpg" alt=""></a></li>
                    <li><a href="#"><img src="/static/images/clients/4.jpg" alt=""></a></li>
                    <li><a href="#"><img src="/static/images/clients/2.jpg" alt=""></a></li>
                </ul>
            </div>
            
        </div>
    </section>
    

    <!--Intro Section-->
    <section class="subscribe-intro">
    	<div class="auto-container">
        	<div class="row clearfix">
            	<!--Column-->
                <div class="column col-md-9 col-sm-12 col-xs-12">
                	<h2>Subcribe for Newsletter</h2>
                    There are many variations of passages of Lorem Ipsum available but the majority have 
                </div>
                <!--Column-->
                <div class="column col-md-3 col-sm-12 col-xs-12">
                	<div class="text-right padd-top-20">
                		<a href="#" class="theme-btn btn-style-one">Subscribe Now</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
	
    
    <!--Main Footer-->
    <footer class="main-footer" style="background-image:url(/static/images/background/footer-bg.jpg);">
    	
        <!--Footer Upper-->        
        <div class="footer-upper">
            <div class="auto-container">
                <div class="row clearfix">
                	
                    <!--Two 4th column-->
                    <div class="col-md-6 col-sm-12 col-xs-12">
                    	<div class="row clearfix">
                            <div class="col-lg-7 col-sm-6 col-xs-12 column">
                                <div class="footer-widget about-widget">
                                    <div class="logo"><a href="index.html"><img src="/static/images/logo-2.png" class="img-responsive" alt=""></a></div>
                                    
                                    
                                    <ul class="contact-info">
                                    	<li><span class="icon fa fa-map-marker"></span> 447, Broad Way, NewYork</li>
                                        <li><span class="icon fa fa-phone"></span> +11-08-35679</li>
                                        <li><span class="icon fa fa-envelope-o"></span> hello@ecology.com</li>
                                    </ul>
                                    
                                    <div class="social-links-two clearfix">
                                    	<a href="#" class="facebook img-circle"><span class="fa fa-facebook-f"></span></a>
                                        <a href="#" class="twitter img-circle"><span class="fa fa-twitter"></span></a>
                                        <a href="#" class="google-plus img-circle"><span class="fa fa-google-plus"></span></a>
                                        <a href="#" class="linkedin img-circle"><span class="fa fa-pinterest-p"></span></a>
                                        <a href="#" class="linkedin img-circle"><span class="fa fa-linkedin"></span></a>
                                    </div>
                                    
                                </div>
                            </div>
                            
                            <!--Footer Column-->
                            <div class="col-lg-5 col-sm-6 col-xs-12 column">
                                <h2>About us</h2>
                                <div class="footer-widget links-widget">
                                    
                                <p>Above the law sunny days sweeping the clouds away fateful trip .That started my way to where the air is sweet can you tell me how to get .</p>
                                </div>
                            </div>
                    	</div>
                    </div><!--Two 4th column End-->
                    
                    <!--Two 4th column-->
                    <div class="col-md-6 col-sm-12 col-xs-12">
                    	<div class="row clearfix">
                    	
                            
                            <!--Footer Column-->
                            <div class="col-lg-5 col-sm-6 col-xs-12 column">
                                <div class="footer-widget links-widget">
                                	<h2>Recent projects</h2>
                                    <ul>
                                        <li><a href="#">tree plantation</a></li>
                                        <li><a href="#">Drinking water supply</a></li>
                                        <li><a href="#">Campaign</a></li>
                                        <li><a href="#">Waste management</a></li>
                                        
                                        
                                    </ul>
        
                                </div>
                            </div>

                            <!--Footer Column-->
                            <div class="col-lg-7 col-sm-6 col-xs-12 column">
                                <div class="footer-widget news-widget">
                                    <h2>Latest News</h2>    
                                    
                                    <!--News Post-->
                                    <div class="news-post">
                                        <div class="icon"></div>
                                        <div class="news-content"><figure class="image-thumb"><img src="/static/images/resource/post-thumb-4.jpg" alt=""></figure><a href="#">That started my way to where the air is sweet can you tell me how to get</a></div>
                                        
                                    </div>
                                    
                                    <!--News Post-->
                                    <div class="news-post">
                                        <div class="icon"></div>
                                        <div class="news-content"><figure class="image-thumb"><img src="/static/images/resource/post-thumb-5.jpg" alt=""></figure><a href="#">That started my way to where the air is sweet can you tell me how to get</a></div>
                                        
                                    </div>
                                    
                                </div>
                            </div>
                    	</div>
                    </div><!--Two 4th column End-->
                    
                </div>
                
            </div>
        </div>
        
        <!--Footer Bottom-->
    	<div class="footer-bottom">
            <div class="auto-container clearfix">
                <!--Copyright-->
                <div class="copyright text-center">Copyright &copy; 2017.Company name All rights reserved.More Templates <a href="http://www.cssmoban.com/" target="_blank" title="模板之家">模板之家</a> - Collect from <a href="http://www.cssmoban.com/" title="网页模板" target="_blank">网页模板</a></div>
            </div>
        </div>
        
    </footer>
    
</div>
<!--End pagewrapper-->


<!--Scroll to top-->
<div class="scroll-to-top scroll-to-target" data-target=".main-header"><span class="fa fa-long-arrow-up"></span></div>


<!--Donate Popup-->
<div class="modal fade pop-box" id="donate-popup" tabindex="-1" role="dialog" aria-labelledby="donate-popup" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
        	<!--Donation Section-->
            <section class="donation-section">
                <div class="donation-form-outer">
                    <form method="post" action="contact.html">
                        
                        <!--Form Portlet-->
                        <div class="form-portlet">
                            <h3>How Much Would you like to Donate?</h3>
                            
                            <div class="row clearfix">
                                <div class="form-group col-lg-7 col-md-12 col-xs-12 clearfix">
                                    
                                    <div class="radio-select">
                                        <input type="radio" name="sel-amount" id="amount-1">
                                        <label for="amount-1">$20</label>
                                    </div>
                                    
                                    <div class="radio-select">
                                        <input type="radio" name="sel-amount" id="amount-2" checked>
                                        <label for="amount-2">$30</label>
                                    </div>
                                    
                                    <div class="radio-select">
                                        <input type="radio" name="sel-amount" id="amount-3">
                                        <label for="amount-3">$50</label>
                                    </div>
                                    
                                    <div class="radio-select">
                                        <input type="radio" name="sel-amount" id="amount-4">
                                        <label for="amount-4">$100</label>
                                    </div>
                                    
                                    <div class="radio-select">
                                        <input type="radio" name="sel-amount" id="amount-5">
                                        <label for="amount-5">$150</label>
                                    </div>
                                    
                                </div>
                                
                                <div class="form-group other-amount col-lg-5 col-md-8 col-xs-12 padd-top-10">
                                    
                                    <input type="text" name="other-amount" value="" placeholder="Or Other Amount">
                                    
                                </div>
                                
                            </div>
                        </div>
                        
                        <br>
                        
                        <!--Form Portlet-->
                        <div class="form-portlet">
                            <h4>Billing Information</h4>
                            
                            <div class="row clearfix">
                                
                                <div class="form-group col-lg-6 col-md-6 col-xs-12">
                                    <div class="field-label">First Name <span class="required">*</span></div>
                                    <input type="text" name="name" value="" placeholder="First Name" required>
                                </div>
                                
                                <div class="form-group col-lg-6 col-md-6 col-xs-12">
                                    <div class="field-label">Last Name <span class="required">*</span></div>
                                    <input type="text" name="name" value="" placeholder="Last Name" required>
                                </div>
                                
                                <div class="form-group col-lg-6 col-md-6 col-xs-12">
                                    <div class="field-label">Email <span class="required">*</span></div>
                                    <input type="email" name="name" value="" placeholder="Email" required>
                                </div>
                                
                                <div class="form-group col-lg-6 col-md-6 col-xs-12">
                                    <div class="field-label">Phone <span class="required">*</span></div>
                                    <input type="text" name="name" value="" placeholder="Phone" required>
                                </div>
                                
                                <div class="form-group col-lg-6 col-md-6 col-xs-12">
                                    <div class="field-label">Address 1 <span class="required">*</span></div>
                                    <input type="text" name="name" value="" placeholder="Address 1" required>
                                </div>
                                
                                <div class="form-group col-lg-6 col-md-6 col-xs-12">
                                    <div class="field-label">Address 2 <span class="required">*</span></div>
                                    <input type="text" name="name" value="" placeholder="Address 2" required>
                                </div>
                                
                            </div>
                        </div>
                        
                        <br>
                        
                        <!--Form Portlet-->
                        <div class="form-portlet">
                            <h4>Payment Details</h4>
                            
                            <div class="payment-option-logo"><img class="img-responsive" src="/static/images/resource/payment-logos.png" alt=""></div>
                            <br>
                            
                            <div class="row clearfix">
                                
                                <div class="form-group col-lg-6 col-md-6 col-xs-12">
                                    <div class="field-label">Card Number <span class="required">*</span></div>
                                    <input type="text" name="name" value="" placeholder="Card Number" required>
                                </div>
                                
                                <div class="form-group col-lg-6 col-md-6 col-xs-12">
                                    <div class="field-label">Card Holder Name <span class="required">*</span></div>
                                    <input type="text" name="name" value="" placeholder="Card Holder Name" required>
                                </div>
                                
                                
                                
                                <div class="form-group col-lg-3 col-md-3 col-xs-12">
                                    <div class="field-label">Expire Date <span class="required">*</span></div>
                                    <select>
                                        <option>01</option>
                                        <option>02</option>
                                        <option>03</option>
                                        <option>04</option>
                                        <option>05</option>
                                        <option>06</option>
                                        <option>07</option>
                                        <option>08</option>
                                        <option>09</option>
                                        <option>10</option>
                                        
                                    </select>
                                </div>
                                
                                <div class="form-group col-lg-3 col-md-3 col-xs-12">
                                    <div class="field-label">&nbsp;</div>
                                    <select>
                                        <option>2016</option>
                                        <option>2017</option>
                                        <option>2018</option>
                                        <option>2019</option>
                                        <option>2020</option>
                                    </select>
                                </div>
                                
                                <div class="form-group col-lg-6 col-md-6 col-xs-12">
                                    <div class="field-label">Security Code (CVC) <span class="required">*</span></div>
                                    <input type="text" name="name" value="" placeholder="Security Code" required>
                                </div>
                                
                            </div>
                        </div>
                        
                        <div class="text-left"><button type="submit" class="theme-btn btn-style-two">Donate Now</button></div>
                        
                    </form>
                </div>
            </section>
        </div>
    <!-- /.modal-content -->
    </div>
<!-- /.modal-dialog -->
</div>
<!-- /.modal -->

<script src="/static/js/jquery.js"></script> 
<script src="/static/js/bootstrap.min.js"></script>
<script src="/static/js/vegas.min.js"></script> <!-- Kenburn -->
<script src="/static/js/kenburn.js"></script>
<script src="/static/js/jquery.fancybox.pack.js"></script>
<script src="/static/js/jquery.fancybox-media.js"></script>
<script src="/static/js/owl.js"></script>
<script src="/static/js/wow.js"></script>
<script src="/static/js/owl.carousel.min.js"></script>
<script src="/static/js/script.js"></script>
</body>
</html>
